<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" comtent="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ROCK PAPER SCISSOR GAME</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/style-c4.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
    <!--Halaman Game-->
      <div class=halamansatu>
        <i class="bi bi-chevron-left"><a href="./index.ejs"></a></i>
        <div class="judul">ROCK PAPER SCISSOR</div>
            <div class="row">
              <div class="col">
                <div class="player1">PLAYER 1</div>
                <img src="/assets-ch4/batu.png" class="batu">
                <img src="/assets-ch4/kertas.png" class="kertas">
                <img src="/assets-ch4/gunting.png" class="gunting">
              </div>
              <div class="col">
                <img src="/assets-ch4/desain result.png" class="result">
                <div class="versus">VS
                </div>
                <img src="/assets-ch4/refresh.png" class="tombolrefresh">
              </div>
              <div class="col">
                <div class="player2">COMP</div>
                <img src="/assets-ch4/batu.png" class="batu">
                <img src="assets-ch4/kertas.png" class="kertas">
                <img src="/assets-ch4/gunting.png" class="gunting">
              </div>
            </div>
          </div>

        <div>
        

        </div>
    </div>

    <script src="/javascript/script.js"></script>
</body>