<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUCCESS!</title>
    <style>
        body {
            background-color: pink;
        }

        h1 {
            text-align: center;
            color: black;
            font-size: 110px;
            font-family: 'Times New Roman';
            padding-top: 10px;
        }

        h2 {
            text-align: center;
            color: green;
            font-size: 70px;
            font-family: 'Times New Roman';
            padding-top: 10px;
        }
    </style>
</head>
<body>
    <h1>Congratulations!</h1>
    <h2>LOGIN SUCCESS</h2>
    <center><a href="/register">Back to Login Form</a></center>
</body>
</html>